.navbar{
  height: 60px;
  width: 100%;
  background-color: rgb(11, 11, 11);
  color: white;
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  font-weight: 600;
  padding: 10px;
  border-radius: 20px;
}
i{
  font-size: 40px;
}
.add-btn{
  background-color: black;
  color: white;
  border-radius: 20px;
  font-weight: 800;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  border: 2px solid black;
} 
.note{
  display: flex;
  flex-direction: column;
}
.note{
  margin-top: 20px;
  background-color: #D0D0D0;
  background-color: #D8DAD3;
  color: black;
  font-weight: 600;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  min-height: 200px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text{
  flex: 1;
  width: 6=120px;
  height: 160px;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  resize: none;
  gap: 20px;
  font-weight: 700;
  backdrop-filter: blur(77px);
}

 
.add-btn:hover {
  background-color: rgb(211, 246, 14);
  color: black;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.9);
  font-size: 15px;
  gap: 20px;
  font-weight: 900;
}
.note:hover {
  background-color: black;
  color: white;
  font-weight: 600;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.9);
  font-size: 20px;
  gap: 20px;
}

body{
  padding: 20px;
}
.edit{
  border-radius: 20%;

}
.delete{
    border-radius: 20%;
}
.edit:hover {
  background-color: rgb(10, 239, 10);
  color: black;
}
.delete:hover{
    background-color: red;
  color: black;
}
.hidden{
  display: none;
}